/* =========================
   RESET & GLOBAL SETTINGS
========================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {

    --primary-color: #1f8f4d;
    --dark-color: #111;
    --text-color: #555;
    --light-bg: #fafafa;

}


html {

    scroll-behavior:smooth;

}


section {

    scroll-margin-top:100px;

}


body {

    font-family: "Poppins", sans-serif;
    background: var(--light-bg);
    color: var(--dark-color);

}


img {

    max-width: 100%;
    display: block;

}


button {

    padding: 15px 35px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    background: var(--primary-color);
    color: white;
    font-size: 16px;
    font-weight: 600;
    transition: 0.3s;

}


button:hover {

    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.15);

}



/* =========================
        NAVBAR
========================= */


header {

    padding:20px 8%;
    background:white;
    position:sticky;
    top:0;
    z-index:1000;
    box-shadow:0 5px 20px rgba(0,0,0,0.05);

}


nav {

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;

}


.logo {

    text-decoration:none;
    font-size:28px;
    font-weight:800;
    color:#222;

}


.logo span {

    color:#1f8f4d;

}

.logo a{
    text-decoration: none;
}

nav ul {

    display:flex;

    gap:40px;

    list-style:none;

    flex:1;

    justify-content:center;

}



nav ul li a {

    text-decoration: none;
    color: #111;
    font-size: 16px;

}



.nav-action {

    display: flex;
    align-items: center;
    gap: 20px;

}


.location {

    display: flex;
    align-items: center;
    gap: 8px;

}


.location img {

    width: 18px;
    height: 18px;

}


.location span {

    color: var(--text-color);
    font-size: 15px;

}


.nav-action button {

    padding: 12px 25px;
    align-items: flex-end;
    justify-content: flex-end;
}



/* Hamburger */


.menu-icon {

    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;

}


.menu-icon span {

    width: 25px;
    height: 3px;
    background: #111;
    border-radius: 5px;

}



/* =========================
          HERO
========================= */



.hero {

    min-height:80vh;
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:50px;
    padding:70px 8%;

    background:linear-gradient(
        135deg,
        #f0fff6,
        #ffffff
    );

}




.hero-content {

    width:45%;

}


.hero-image {

    width:50%;

}



.hero-content h2 {

    font-size: 50px;
    line-height: 1.2;
    margin-bottom: 20px;

}



.hero-content p {

    font-size: 18px;
    line-height: 1.6;
    color: var(--text-color);
    margin-bottom: 30px;

}



.hero-image img {

    width:100%;
    border-radius:30px;

    box-shadow:
    0 20px 50px rgba(31,143,77,0.25);

}



.hero-image img {

    width: 100%;
    border-radius: 30px;
    animation: floatImage 4s ease-in-out infinite;

}



@keyframes floatImage {


    0% {

        transform: translateY(0);

    }


    50% {

        transform: translateY(-15px);

    }


    100% {

        transform: translateY(0);

    }


}



/* =========================
        SERVICES SECTION
========================= */


.services {

    padding: 80px 8%;

}



.section-title {

    text-align: center;
    margin-bottom: 50px;

}



.section-title h2 {

    font-size: 36px;
    margin-bottom: 15px;

}



.section-title p {

    color: var(--text-color);
    font-size: 17px;

}




.service-container {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;

}




.service-card {

    background:white;

    border:1px solid #e8f5ed;

    padding:35px 25px;

    border-radius:25px;

    box-shadow:
    0 15px 40px rgba(31,143,77,0.08);

}



.service-card:hover {

    transform: translateY(-10px);

}



.service-card img {

    width: 45px;
    height: 45px;
    margin: auto;
    margin-bottom: 20px;

}



.service-card h3 {

    font-size: 22px;
    margin-bottom: 15px;

}



.service-card p {

    color: var(--text-color);
    line-height: 1.6;

}





/* =========================
        RESTAURANTS
========================= */


.restaurants {

    padding: 80px 8%;

}



.restaurant-container {

    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;

}



.restaurant-card {

    background: white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0,0,0,0.08);
    transition: 0.3s;

}



.restaurant-card:hover {

    transform: translateY(-10px);

}



.restaurant-card img {

    width: 100%;
    height: 220px;
    object-fit: cover;

}



.restaurant-info {

    padding: 20px;

}



.restaurant-info h3 {

    font-size: 22px;
    margin-bottom: 10px;

}



.restaurant-info p {

    color: var(--text-color);
    margin-bottom: 12px;

}



.restaurant-info span {

    color: var(--primary-color);
    font-weight: bold;

}





/* =========================
        HOW IT WORKS
========================= */


.how-it-works {

    padding: 80px 8%;
    background:#f5fff8;

}



.steps-container {

    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;

}



.step-card {

    text-align: center;
    padding: 35px 25px;

}



.step-card img {

    width: 55px;
    height: 55px;
    margin: auto;
    margin-bottom: 25px;

}



.step-card h3 {

    font-size: 22px;
    margin-bottom: 15px;

}



.step-card p {

    color: var(--text-color);
    line-height: 1.6;

}





/* =========================
        PARTNER SECTION
========================= */


.partner {

    padding: 80px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    background:#1f8f4d;
    color:white;

}



.partner-content {

    width: 50%;

}



.partner-content h2 {

    font-size: 40px;
    margin-bottom: 20px;

}



.partner-content p {

   color:#ddd;
   line-height: 1.7;
    margin-bottom: 30px;

}



.partner-buttons {

    display: flex;
    gap: 20px;
   

}

.primary-btn{
     border: 2px solid #fff;
}

.secondary-btn {

    background: white;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);

}



.partner-image {

    width: 45%;

}



.partner-image img {

    width: 100%;
    border-radius: 25px;

}


/* =========================
            FOOTER
========================= */


.footer {

    background: #111;
    color: white;
    padding: 60px 8% 20px;
    border-top:5px solid #1f8f4d;

}



.footer-container {

    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 40px;

}



.footer-brand h2 {

    font-size: 28px;
    margin-bottom: 15px;

}



.footer-brand span {

    color: var(--primary-color);

}



.footer-brand p {

    color: #aaa;
    line-height: 1.6;

}



.footer-links {

    display: flex;
    flex-direction: column;
    gap: 12px;

}



.footer-links h3 {

    margin-bottom: 10px;

}



.footer-links a {

    color: #aaa;
    text-decoration: none;

}



.footer-links a:hover {

    color:white;

}



.footer-bottom {

    border-top: 1px solid #333;
    margin-top: 40px;
    padding-top: 20px;
    text-align: center;
    color:#aaa;

}




/* =========================
        TABLET RESPONSIVE
========================= */


@media(max-width: 1000px){


    .service-container {

        grid-template-columns: repeat(2,1fr);

    }


    .restaurant-container {

        grid-template-columns: repeat(2,1fr);

    }


    .steps-container {

        grid-template-columns: repeat(2,1fr);

    }


    .partner {

        flex-direction: column;

    }


    .partner-content,
    .partner-image {

        width:100%;

    }


}



/* =========================
        MOBILE RESPONSIVE
========================= */


@media(max-width:768px){


    header {

        padding:20px 5%;

    }



    nav {

        width:100%;
        justify-content:space-between;

    }



    nav ul {

        display:none;

    }



    .nav-action {

        display:none;

    }



    .menu-icon {

        display:flex;

    }



    .logo {

        font-size:22px;

    }




    /* HERO */


    .hero {

        flex-direction:column;
        text-align:center;
        padding:40px 5%;
        gap:40px;

    }



    .hero-content {

        width:100%;

    }



    .hero-content h2 {

        font-size:34px;

    }



    .hero-content p {

        font-size:16px;

    }



    .hero-image {

        width:100%;

    }





    /* SECTION SPACING */


    .services,
    .restaurants,
    .how-it-works,
    .partner {

        padding:60px 5%;

    }



    .section-title h2 {

        font-size:30px;

    }




    /* SERVICES */


    .service-container {

        grid-template-columns:1fr;

    }





    /* RESTAURANTS */


    .restaurant-container {

        grid-template-columns:1fr;

    }



    .restaurant-card img {

        height:200px;

    }





    /* HOW IT WORKS */


    .steps-container {

        grid-template-columns:1fr;

    }





    /* PARTNER */


    .partner {

        text-align:center;

    }



    .partner-content,
    .partner-image {

        width:100%;

    }



    .partner-buttons {

        flex-direction:column;
        align-items:center;

    }



    .partner-buttons button {

        width:100%;

    }





    /* FOOTER */


    .footer {

        padding:50px 5% 20px;

    }



    .footer-container {

        grid-template-columns:1fr;
        text-align:center;
        gap:35px;

    }



    .footer-links {

        align-items:center;

    }



    .footer-brand p {

        max-width:280px;
        margin:auto;

    }



}




@media(max-width:768px){


    nav ul {

        display:none;

        position:absolute;

        top:80px;

        left:0;

        width:100%;

        background:white;

        flex-direction:column;

        align-items:center;

        padding:30px 0;

        gap:25px;

        box-shadow:0 10px 20px rgba(0,0,0,0.1);

    }



    nav ul.active {

        display:flex;

    }



    .nav-action {

        display:none;

    }



    .menu-icon {

        display:flex;

    }


}


/* Hamburger Animation */


.menu-icon.active span:nth-child(1){

    transform: rotate(45deg) translate(5px,5px);

}


.menu-icon.active span:nth-child(2){

    opacity:0;

}


.menu-icon.active span:nth-child(3){

    transform: rotate(-45deg) translate(7px,-6px);

}



.menu-icon span{

    transition:0.3s;

}

.footer-bottom a {

    color: #1f8f4d;

    text-decoration:none;

    font-weight:600;

}


.footer-bottom a:hover {

    text-decoration:underline;

}








/* ==========================
      ABOUT INTRO
========================== */


.about-intro{

padding:100px 8%;

display:flex;

align-items:center;

gap:60px;

}



.about-image{

width:50%;

}



.about-image img{

width:100%;

border-radius:30px;

}



.about-info{

width:50%;

}



.about-info span{

color:#1f8f4d;

font-weight:700;

}



.about-info h2{

font-size:42px;

line-height:1.2;

margin:20px 0;

}



.about-info p{

color:#666;

line-height:1.8;

margin-bottom:15px;

}



.about-info a{

display:inline-block;

margin-top:20px;

padding:15px 35px;

background:#1f8f4d;

color:white;

text-decoration:none;

border-radius:30px;

}





/* SERVICES */


.services-about{

background:#f5fff8;

padding:80px 8%;

text-align:center;

}



.services-about h2{

font-size:38px;

margin-bottom:40px;

}



.about-cards{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:25px;

}



.about-card{

background:white;

padding:35px 25px;

border-radius:20px;

box-shadow:0 10px 30px rgba(0,0,0,.08);

}



.about-card h3{

color:#1f8f4d;

margin-bottom:15px;

}



.about-card p{

color:#666;

line-height:1.6;

}





/* WHY SECTION */


.why-section{

padding:90px 8%;

display:flex;

align-items:center;

justify-content:space-between;

gap:50px;

}



.why-section h2{

font-size:40px;

}



.why-section p{

color:#666;

line-height:1.7;

}



.stats{

display:flex;

gap:25px;

}



.stats div{

background:#fff;

padding:30px;

border-radius:20px;

box-shadow:0 10px 25px rgba(0,0,0,.08);

text-align:center;

}



.stats h3{

font-size:35px;

color:#1f8f4d;

}





/* MOBILE */


@media(max-width:768px){


.about-intro{

flex-direction:column;

}



.about-image,
.about-info{

width:100%;

}



.about-info{

text-align:center;

}



.about-cards{

grid-template-columns:1fr;

}



.why-section{

flex-direction:column;

text-align:center;

}



.stats{

flex-direction:column;

width:100%;

}


}



/* ==========================
       TEAM SECTION
========================== */


.team-section{

padding:90px 8%;

background:white;

}



.team-container{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:30px;

}



.team-card{

background:#fff;

border-radius:25px;

overflow:hidden;

box-shadow:0 10px 30px rgba(0,0,0,.08);

text-align:center;

padding-bottom:25px;

transition:.3s;

}



.team-card:hover{

transform:translateY(-10px);

}



.team-card img{

width:100%;

height:300px;

object-fit:cover;

}



.team-card h3{

margin-top:20px;

color:#1f8f4d;

}



.team-card p{

color:#666;

}




/* VIDEO LINK SECTION */


.video-section{

    padding:90px 8%;

    background:#1f8f4d;

    color:white;

    text-align:center;

}



.video-content{

    max-width:700px;

    margin:auto;

}



.video-content span{

    font-weight:700;

    color:white;

}



.video-content h2{

    font-size:40px;

    margin:20px 0;

}



.video-content p{

    line-height:1.8;

    margin-bottom:35px;

}



.video-content a{

    display:inline-block;

    background:white;

    color:#1f8f4d;

    padding:15px 35px;

    border-radius:50px;

    text-decoration:none;

    font-weight:600;

    transition:.3s;

}



.video-content a:hover{

    transform:translateY(-5px);

}



@media(max-width:768px){


.video-content h2{

    font-size:30px;

}


}



/* ==========================
      CONTACT HERO
========================== */


.contact-hero{

    min-height:80vh;

    background-image:

    linear-gradient(
        90deg,
        rgba(0,0,0,0.75),
        rgba(31,143,77,0.45)
    ),

    url("Assets/images/contact-hero.jpg");


    background-size:cover;

    background-position:center;

    display:flex;

    align-items:center;

}



.contact-overlay{

    width:100%;

}



.contact-hero-content{

    width:55%;

    margin-left:8%;

    color:white;

}



.hero-badge{

    display:inline-block;

    background:rgba(255,255,255,0.15);

    padding:10px 20px;

    border-radius:30px;

    margin-bottom:25px;

    backdrop-filter:blur(10px);

    font-size:14px;

}



.contact-hero-content h1{

    font-size:55px;

    line-height:1.2;

    margin-bottom:20px;

}



.contact-hero-content p{

    font-size:18px;

    line-height:1.7;

    max-width:600px;

    margin-bottom:35px;

}



.hero-buttons{

    display:flex;

    gap:20px;

}



.hero-buttons a{

    text-decoration:none;

    padding:15px 35px;

    border-radius:50px;

    background:#1f8f4d;

    color:white;

    font-weight:600;

}



.hero-buttons .call-btn{

    background:white;

    color:#1f8f4d;

}





@media(max-width:768px){


.contact-hero{

    min-height:70vh;

}



.contact-hero-content{

    width:90%;

    margin:auto;

    text-align:center;

}



.contact-hero-content h1{

    font-size:35px;

}



.hero-buttons{

    justify-content:center;

    flex-direction:column;

}


}





/* CONTACT MAIN */


.contact-main{


padding:90px 8%;


display:flex;


gap:60px;


align-items:center;


}



.contact-details{


width:50%;


}



.contact-details span{


color:#1f8f4d;


font-weight:700;


}



.contact-details h2{


font-size:40px;


margin:20px 0;


}



.contact-details p{


color:#666;


line-height:1.7;


}




.detail-box{


margin-top:30px;


}



.detail-box h3{


color:#1f8f4d;


margin-bottom:10px;


}






/* FORM */


.contact-form{


width:50%;


background:white;


padding:40px;


border-radius:25px;


box-shadow:0 10px 30px rgba(0,0,0,.1);


}



.contact-form form{


display:flex;


flex-direction:column;


gap:20px;


}



.contact-form input,
.contact-form textarea,
.contact-form select{


padding:15px;


border:1px solid #ddd;


border-radius:12px;


font-family:Poppins;


}



.contact-form textarea{


height:150px;


resize:none;


}







/* REQUEST SECTION */


.request-section{


background:#1f8f4d;


color:white;


padding:70px 8%;


text-align:center;


}



.request-section h2{


font-size:40px;


margin-bottom:15px;


}



.request-section a{


display:inline-block;


margin:20px 10px;


padding:15px 35px;


border-radius:50px;


background:white;


color:#1f8f4d;


text-decoration:none;


font-weight:600;


}






/* MOBILE */


@media(max-width:768px){



.contact-hero h1{

font-size:35px;

}



.contact-hero-content{

width:90%;

}



.contact-main{

flex-direction:column;

}



.contact-details,
.contact-form{

width:100%;

}



.contact-details{

text-align:center;

}


}